Django>=5.0,<6.0
djangorestframework
psycopg2-binary
Pillow
djangorestframework
djangorestframework-simplejwt
django-filter
django-cors-headers
drf-spectacular
ruff==0.6.8
requests==2.32.3
geopy
qrcode[pil]==8.2